<html>
<body>

<h2>Add Country</h2>

<form action="/addCountry" method="POST">
  <label>Country Code:</label><br>
  <input type="text" name="code"><br>
  <label>Counntry Name:</label><br>
  <input type="text" name="name"><br>
  <label>Country Description:</label><br>
  <textarea type="text" name="description"></textarea><br><br>
  <input type="submit" value="Add">


</body>
</html>